@font-face {
    font-family: poppins;
    src: url(./Poppins-ExtraBold.ttf);
}

.collapse{
    justify-content: flex-end;

}

.carousel-inner {
    border-radius: 20px;
    margin-top: 30px;
    margin-left: px;
    margin-right: px;
    overflow: hidden;
}

.carousel-caption{
    margin-bottom: 50px;
}
.carousel-caption h1{
    font-family: poppins;
    font-size: 60px;
}

.search-bar {
   position: relative;
    background: beige;
    width: 60%;
    /* margin: 0px auto auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    margin-bottom: 30px;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar form{
    display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button{
    background: rgb(225, 169, 65);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img{
    width: 15px;

}

.location-input{
    flex: 1;
}

#row-2{
    margin-top: 30px;
}

#nav-ul{
    display: contents;
}

.col-4{
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.container-card{
    background-color: beige;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-card{
    text-align: center;

}

.container-card h1{
    font-family: poppins;
    color: #020225;
}

.container-card h1 p{
    width: 50px;
}

.card-body{
    background-color: #020225;
}

.card-body h4{
    color: blue;
    font-family: poppins;
    font-weight: 200;
}

.card-body p{
color: white;
font-size: medium;
font-weight: 200;
}

